<div id="schoolDashboard" v-cloak>
  <div class="container">
    <h1 class="text-center" style="margin-top: 30px;">报名列表</h1>
    <div class="my-3 row">
      <table class="table clickable table-hover large" v-if="applyList.length > 0">
        <thead>
          <tr>
            <th>编号</th>
            <th>姓名</th>
            <th>报名时间</th>
            <th>状态</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="data of applyList" @click="applyDetail(data)" data-toggle="modal" data-target="#applyDetail" >
            <td>{{data.id}}</td>
            <td>{{data.name}}</td>
            <td>{{data.applyTime}}</td>
            <td><button type="button" class="btn" :class="statusList[data.status].labelType">{{statusList[data.status].text}}</button></td>
          </tr>
        </tbody>
      </table>
      <span v-else>
        尚无报名信息
      </span>

      <!-- 模态框 -->
      <div class="modal fade" id="applyDetail">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">{{applyForm.name}}</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="form-group col-4">
                  <label for="name">姓名</label>
                  <input class="form-control"  id="name" type="text"  v-model.trim="applyForm.name" disabled>
                </div>
                <div class="form-group col-4">
                  <label for="name">性别</label>
                  <input class="form-control"  id="name" type="text"  v-model.trim="applyForm.sex" disabled>
                </div>
                <div class="form-group col-4">
                  <label for="nation">民族</label>
                  <input class="form-control"  id="name" type="text"  v-model.trim="applyForm.nation" disabled>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <ajax-button type="submit" :syncing="syncing" class="btn-dark btn-lg btn-block" data-dismiss="modal">确定提交</ajax-button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>
      
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
