<div id="confirmed-email" v-cloak>
  <div class="container">
    <h1 class="text-center">电子邮件已确认</h1>
    <div class="confirmation-message">
      <hr/>
      <p>恭喜，您的帐户现已通过验证！ 您现在拥有对帐户的完全访问权限。</p>
      <p><a class="btn btn-outline-info" href="/">开始使用</a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
