<div id="new-password" v-cloak>
  <div class="container">
    <h1 class="text-center">重设密码</h1>
    <div class="new-password-form">
      <hr/>
      <ajax-form action="updatePasswordAndLogin" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm">
        <div class="form-group">
          <label for="password">新密码</label>
          <input class="form-control" id="password" name="password" type="password"  :class="[formErrors.password ? 'is-invalid' : '']" v-model.trim="formData.password" placeholder="••••••••" autocomplete="new-password" focus-first>
          <div class="invalid-feedback" v-if="formErrors.password">请输入密码。</div>
        </div>
        <div class="form-group">
          <label for="confirm-password">确认密码</label>
          <input class="form-control" id="confirm-password" name="confirm-password" type="password"  :class="[formErrors.confirmPassword ? 'is-invalid' : '']" v-model.trim="formData.confirmPassword" placeholder="••••••••" autocomplete="new-password">
          <div class="invalid-feedback" v-if="formErrors.confirmPassword">您的新密码和确认密码不匹配。</div>
        </div>
        <p class="text-danger" v-if="cloudError"><small>处理您的请求时发生错误。 请检查您的信息，然后重试。</small></p>
        <div class="form-group">
          <ajax-button type="submit" :syncing="syncing" class="btn btn-success btn-lg btn-block">提交</ajax-button>
        </div>
      </ajax-form>
      <p class="text-center">想起密码了吗？<a href="/login">登录</a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
