<div id="adminDashboard" v-cloak>
  <div class="container">
    <h1 class="text-center" style="margin-top: 30px;">报名列表</h1>
    <div style="display: flex;">
      <h6 class="statistic-link"><a href="/statistics">报名情况统计表</a></h6>
      <h6 class="statistic-link"><a href="/distribution">岗位设置</a></h6>
    </div>
    <div class="row" style="margin: auto;">
      <select class="form-control search-term" id="school" type="text" v-model="queryData.school" title="根据学校选取报名表">
        <option value="" disabled>高校</option>
        <option v-for="data in schools" :value="data.id">{{data.name}}</option>
      </select>
      <select class="form-control search-term" id="school" type="text" v-model="queryData.nation" title="根据民族选取报名表">
        <option value="" disabled>民族</option>
        <option v-for="data in nations" :value="data.name">{{data.name}}</option>
      </select>
      <select class="form-control search-term" id="school" type="text" v-model="queryData.politicalStatus" title="根据政治面貌选取报名表">
        <option value="" disabled>政治面貌</option>
        <option v-for="data in politics" :value="data.name">{{data.name}}</option>
      </select>
      <select class="form-control search-term" id="school" type="text" v-model="queryData.intentType" title="根据服务意向选取报名表">
        <option value="" disabled>服务意向</option>
        <option v-for="data in intentTypes" :value="data">{{data}}</option>
      </select>
      <select class="form-control search-term" id="school" type="text" v-model="queryData.obeyTheAdjustment" title="根据是否服从调剂选取报名表">
        <option value="" disabled>是否服从调剂</option>
        <option v-for="data in ifObeyTheAdjustment" :value="data.value">{{data.label}}</option>
      </select>
      <div class="dropdown">
        <button type="button" class="btn dropdown-toggle" id="dropdownMenu1" 
            data-toggle="dropdown">
          主题
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">全部岗位</a></li>
          <li class="divider"></li>
          <li role="presentation" class="dropdown-header">下拉菜单标题</li>
          <li><p><input type="checkbox" name="vehicle" value="Bike" /> I have a bike</p></li>
          <li><p><input type="checkbox" name="vehicle" value="Bike" /> I have a bike</p></li>
          <li>分离的链接</li>
        </ul>
      </div>
      <button type="button" class="form-control search-btn-term btn btn-primary"  @click="searchApply">搜索</button>
      <button type="button" class="form-control search-btn-term btn btn-primary"  @click="searchReset">重置</button>
      <button type="button" class="form-control search-btn-term btn btn-success"  @click="downloadAppl">导出</button>
    </div>
    <div class="my-3 row">
      <table class="table clickable table-hover large" v-if="applyList.length > 0">
        <thead>
          <tr>
            <th>编号</th>
            <th>学校</th>
            <th>姓名</th>
            <th>性别</th>
            <th>民族</th>
            <th>政治面貌</th>
            <th>学历</th>
            <th>户籍（省）</th>
            <th>服务意向地区</th>
            <th>状态</th>
            <th>综合推荐</th>
            <th>岗位分配</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="data of applyList" data-toggle="modal" data-target="#applyDetail" @click="getApplyDetail(data)" style="cursor: pointer;">
            <td>{{data.id}}</td>
            <td>{{data.school.name}}</td>
            <td>{{data.name}}</td>
            <td>{{data.sex}}</td>
            <td>{{data.nation}}</td>
            <td>{{data.politicalStatus}}</td>
            <td>{{data.education}}</td>
            <td>{{data.domicileProvince}}</td>
            <td>{{data.intention1}}、{{data.intention2}}</td>
            <td>
              <button type="button" class="btn" :class="statusList[data.status].labelType">
                {{statusList[data.status].text}}
              </button>
            </td>
            <td v-if="data.order > 0">{{data.order}}</td>
            <td v-else>暂未推荐</td>
            <td  @click.stop>
              <select class="form-control" type="text" @change="distribute(data.id)" :value="data.post" id="selectedPost">
                <option value="" selected>无</option>
                <option v-for="post in posts" :value="post.name">{{post.name}}</option>
              </select>
            </td>
          </tr>
        </tbody>


      </table>
      <span v-else>
        尚无报名信息
      </span>

      <!-- 详情弹框 -->
      <div class="modal fade" id="applyDetail">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">{{applyForm.name}}</h4>
            </div>
            <div class="modal-body">
              <apply-form :apply-form="applyForm" :image-url="imageUrl" />
            </div>
            <div class="modal-footer" v-if="isRecommended">
              <button :syncing="syncing" class="btn-success btn-lg btn-block" data-dismiss="modal" @click="examedPass()">{{statusList[applyForm.status].adminLabel}}</button>
            </div>
            <div class="modal-footer" v-if="isExamed">
              <button :syncing="syncing" class="btn-success btn-lg btn-block" data-dismiss="modal" @click="admit()">录取</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

	<div class="floating-box" v-if="enlarge" id="enlargeFloating" @blur="enlarge=false" @mousedown="drag('enlargeFloating')">
		<div class="floating-head">
      <div class="floating-head-left">
        <div class="box">
          <span class="item">已报名：<span class="text">{{stats.applyNum}}</span> 人</span>
        </div>
        <div class="box">
          <span class="item">已录取：<span class="text">{{stats.admissionNum}}</span> 人</span>
        </div>
      </div>
      <div class="floating-head-right" @click="enlarge=false">
        <i class="fa fa-compress shrinkIcon" aria-hidden="true"></i>
      </div>
		</div>
		<div class="floating-body">
        <h5 class="text-center table-title">当前报名人数分项统计</h5>
          <table class="table" v-if="stats.itemStats">
              <tr>
                <th>项目名称</th>
                <th>报名人数</th>
                <th>百分比</th>
              </tr>
              <tr v-for="data of stats.itemStats">
                <th>{{data.item}}</th>
                <td>{{data.applyNum}}</td>
                <td>{{data.percent}}</td>
              </tr>
          </table>
          <span v-else>
            尚无报名信息
          </span>
		</div>
	</div>

  <div class="shrink-floating-box" v-else id="shrinkFloating"  @mousedown="drag('shrinkFloating')">
		<div class="shrink-floating-left">
      <span class="item">已报名：<span class="text">{{stats.applyNum}}</span> 人</span>
      <span class="item">已录取：<span class="text">{{stats.admissionNum}}</span> 人</span>
    </div>
    <div class="shrink-floating-right" @click="enlarge=true">
      <i class="fa fa-expand shrinkIcon" aria-hidden="true"></i>
    </div>
	</div>

</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
